/*CSS Reset*/
*{
    margin: 0px;
    padding: 0px;
    font-family:'EB Garamond', serif;
}
/*Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: rgba(0,0,0,0.6);
    background-image: url(../img/navbar\ backimg.jpg);
    height: 133px;
    opacity: 0.92;
}
/*Logo*/
#logo{
    margin: 3px 3px;
    position: absolute;
    z-index: 1;
}

#logo img{
    height: 120px;
    margin: 5px 0px;
}
/*List Styling*/
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 20px;
}
#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    margin: 3px 25px;
    border-radius: 20px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/*Home*/
#home h1{
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    margin: 104px 22px;
    font-size: 42px;
}
#back{
    display: flex;
}
#box1 img{
    height: 277px;
    width: 450px;
    margin: 3px 27px;
    box-shadow: 8px 10px black;
}
#box2 img{
    height: 277px;
    width: 450px;
    margin: 3px 28px;
    box-shadow: 8px 10px black;
}
#box3 img{
    height: 277px;
    width: 450px;
    margin: 3px 28px;
    box-shadow: 8px 10px black;
}
#tech h1{
    text-align: center;
    font-size: 42px;
    margin: 90px 22px;
}
#tech p{
    font-size: 22px;
    margin: -30px 10px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
#tech::before{
    content: "";
    position: absolute;
    background: url(../img/backimg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 78.3%;
    z-index: -1;
    opacity: 0.5;
}
#clients h2{
    text-align: center;
    margin: 140px 22px;
    font-size: 42px;
}
#base{
    display: flex;
}
#clients::before{
    content: "";
    position: absolute;
    background: url(../img/clientbg.jpg) no-repeat center center/cover; 
    width: 100%;
    height: 75%;
    z-index: -1;
    opacity: 0.6;
}
#cli1 img{
    height: 214px;
    width: 380px;
    margin: -17px 8px;
    box-shadow: 8px 10px black;
}
#cli2 img{
    height: 214px;
    width: 400px;
    margin: -17px 8px;
    box-shadow: 8px 10px black;
}
#cli3 img{
    height: 215px;
    width: 345px;
    margin: -18px 8px;
    box-shadow: 8px 10px black;
}
#cli4 img{
    height: 215px;
    width: 330px;
    margin: -18px 8px;
    box-shadow: 8px 10px black;
}